/*style*/
.border-pane{
-fx-background-color: #778899;
-fx-font-weight: bold;
}

.button {
  -fx-padding: 15px 25px;
  -fx-text-align: left;
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 16;
  -fx-background-color:  #1E90FF;
  -fx-font-weight: bold ;
}

#labelAddFolder{
    -fx-font-family: 'Arial Unicode MS' ;
    -fx-font-size: 30px ;
    -fx-font-weight: bold ;
    -fx-text-fill:  #32cd32
}

#labelFileName{
  -fx-font-family: 'Arial Unicode MS' ;
    -fx-font-size: 22px ;
    -fx-font-weight: bold ;
    -fx-text-fill:  #32cd32;
}
.button:hover {
-fx-background-color: #00008B;
}

.root{
-fx-background-color: #778899;
}

.tab-pane{
-fx-background-color: #778899;
-fx-font-weight: bold ;
}

.tab-pane:hover{
-fx-background-color: #778899;

}

.tab{
-fx-background-color: #a9a9a9;

}

.tab:selected{
-fx-background-color: #778899;
}

.check-box{
-fx-text-fill: #FFFFFF;
  -fx-font-size: 16;
}

.check-box .box {
-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px;
}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {
-fx-background-color: #28a3f4;
}

#progressLabel{
    -fx-font-family: 'Arial Unicode MS' ;
    -fx-font-size: 15px ;
    -fx-font-weight: bold ;
    -fx-text-fill:  #FFFFFF;
}
#labelFileType{
    -fx-font-family: 'Arial Unicode MS' ;
    -fx-font-size: 60px ;
    -fx-font-weight: bold ;
    -fx-text-fill:  #ff0000;
    -fx-alignment: center ;
}
